.RememberMe_label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}

.RememberMe_label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

#RememberMe_checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.RememberMe_label:hover input~#RememberMe_checkbox {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.RememberMe_label input:checked~#RememberMe_checkbox {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
#RememberMe_checkbox :after {
    content: "";
    position: absolute;
    display: none;
    /* Style the checkmark/indicator */
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

/* Show the indicator (dot/circle) when checked */
.RememberMe_label input:checked~#RememberMe_checkbox:after {
    display: block;
}